@charset "utf-8";

body {
  overflow: auto;
  background-color: rgb(168, 227, 219);
  font-family: "Impact", "Tahoma", "arial";
}

h1 {
  font-size: xxx-large;
}

h2 {
  font-size: xx-large;
  text-align: center;
}

h3 {
  font-size: x-large;
}
