@charset "utf-8";
/*
Great Distance Homepage
*/

body {
	margin: 0;
	background-color: #e6e6e6;
	text-align: center;
}

h1 {
	padding: 50px;
	color: black;
}

p {
	font-family: Tahoma, Verdana, sans-serif;
}
	
.taskbar ul {
	float: left;
	list-style-type: none;
	overflow: hidden;
	font-family: Courier New, Courier, monospace;
	font-size: 30px;
	text-align: center;
	background-color: #bf8040;
	color: white;
	padding: 15px 20px;
}

.taskbar a {
	color: white;
	text-decoration: none;
	font-size: 25px;
}

.taskbar li {
	float: left;
}

.taskbar a:hover {
	background-color: #e6e6e6;
	color: #bf8040;
}

.taskbar a.active {
	background-color: #e6e6e6;
	color: #bf8040;
}



