@charset "utf-8";
/*
Great Distance Homepage
*/

body {
	background-color: black;
	text-align: center;
}

.header {
	font-family: Courier New, Courier, monospace;
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
	background: #ac7339;
	color: white;
	font-size: 25px;
	display: inline-grid;
	grid-template-columns: 4;
	grid-template-rows: 1;
	grid-column-gap: 25px;
}

h1 {
	padding: 50px;
	color: white;
	font-family: Courier New, Courier, monospace;
	font-size: 50px;
}

p {
	font-family: Tahoma, Verdana, sans-serif;
}

a:link {
	color: white; 
}

a:visited {
	color: white;
}

a:active {
	color: white;
}

a:hover {
	color: #e6e6e6;
}

.logo {
	grid-column-start: 1;
	grid-column-end: 1;
}

.mission {
	grid-column-start: 2;
	grid-column-end: 2;
}

.designs {
	grid-column-start: 3;
	grid-column-end: 3;
}

.validators {
	grid-column-start: 4;
	grid-column-end: 4;
}


