@charset "utf-8";
/*
Great Distance Homepage
*/

.header {
	padding-left: 25px;
	padding-right: 25px;
	text-align: center;
	background: #ac7339;
	color: white;
	font-size: 30px;
	display: inline-grid;
	grid-template-columns: 6;
	grid-template-rows: 1;
	grid-column-gap: 25px;
}

a:hover {
	color: #e6e6e6;
}

.logo {
	grid-column-start: 1;
	grid-column-end: 1;
}

.title {
	grid-column-start: 2;
	grid-column-end: 2;
}

.mission {
	grid-column-start: 3;
	grid-column-end: 3;
}

.designs {
	grid-column-start: 4;
	grid-column-end: 4;
}

.validators {
	grid-column-start: 5;
	grid-column-end: 5;
}


